{% set sizes = [] %}
{% set webPSizes = [] %}
{% for widthSize in widths %}
	{% set sizes = sizes|merge([{width: widthSize}]) %}
{% endfor %}
{% for widthSize in widths %}
	{% set webPSizes = webPSizes|merge([{width: widthSize, format: 'webp' }]) %}
{% endfor %}
{% set transformedImage = craft.imager.transformImage(image,  sizes , { jpegQuality: 80 }) %}
{% if craft.imager.serverSupportsWebp %}
	{% set transformedWebPImage = craft.imager.transformImage(image,  webPSizes) %}
{% endif %}
<picture>
	{% if craft.imager.serverSupportsWebp %}
		<source srcset="{{ craft.imager.srcset(transformedWebPImage) }}" type="image/webp" sizes="{% if vw is not defined %}100vw{% else %}{{ vw }}{% endif%}">
	{% endif %}	
	<source srcset="{{ craft.imager.srcset(transformedImage) }}" sizes="{% if vw is not defined %}100vw{% else %}{{ vw }}{% endif%}" />
	<img src="{{image.url()}}" srcset="{{ craft.imager.srcset(transformedImage) }}" sizes="{% if vw is not defined %}100vw{% else %}{{ vw }}{% endif%}" />
</picture>
