<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% set baseUrl = craft.config.environmentVariables.baseUrl %}
	<link rel="stylesheet" type="text/css" href="{{baseUrl}}/assets/css/app.min.css" media="all">
</head>

<body>
	<div class="top-bar large-12">
		<div class='top-bar-title'>
    		<a href="{{ siteUrl }}"><img src="/assets/images/logo-black.svg"></a>
    	</div>
    	<div id="responsive-menu">
    		<div class="top-bar-left">
				<ul class="menu">
					<li><a href="{{ url('news') }}" {% if craft.request.firstSegment == 'news' %}class="active"{% endif %}>News</a></li>
				</ul>
			</div>
			<div class="top-bar-right">
				<ul class="menu">
					<li><a href="#">Two</a></li>
					<li><a href="#">Four</a></li>
					<li><a href="#">Five</a></li>
					<li><a href="#">Six</a></li>
				</ul>
			</div>
    	</div>
    	<span data-responsive-toggle="responsive-menu" data-hide-for="medium" class="toggle top-bar-title">
        	<button class="menu-icon dark" type="button" data-toggle></button>
    	</span>
	</div>
	<div class="content">
		{% block content %}
			<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
			<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
		{% endblock %}
	</div>
        
    </form>
	<footer class="footer">
	    <div class="row">
		    <div class="small-12 medium-6 medium-push-6 columns">
		        <p class="logo show-for-small-only"><img src="/assets/images/logo-black.svg"></p> 
		        <form class="footer-form" method="post" action="" accept-charset="UTF-8">
		        	{{ getCsrfInput() }}
		        	<input type="hidden" name="action" value="formHandler/subscriber/saveSubscriber">
        			<input type="hidden" name="redirect" value="formHandler/subscriber/">
			        <div class="row">
			            <div class="medium-9 medium-push-3 columns">
				            <label>
				                <label for="name" class="contact">Subscribe to our newsletter</label>
						        {% if errors.name is defined ? errors.name | length %}
						        <div data-alert class="alert">
						            {% for error in errors.name %}
						                {{ error }}
						            {% endfor %}
						        </div>
						        {% endif %}
				                <input type="text" name="name" id="name" placeholder="Name">
				            </label>
			            </div>
			        </div>
			        <div class="row">
			            <div class="medium-9 medium-push-3 columns">
				            <label>
				            	{% if errors.email is defined ? errors.email | length %}
						        <div data-alert class="alert">
						            {% for error in errors.email %}
						                {{ error }}
						            {% endfor %}
						        </div>
						        {% endif %}
				                <input type="email" name ="email" placeholder="Email">
				            </label>
				        </div>
			            <div class="row">
				            <div class="medium-9 medium-push-3 columns">
				                <input class="btn submit" type="submit" value="{{ 'Submit'|t }}">
				            </div>
			            </div>
			        </div>
		        </form>
		    </div>
		    <div class="small-12 medium-6 medium-pull-6 columns">
		        <p class="logo hide-for-small-only"><i class="fi-target"></i> {{siteName}}</p> 
		        <p class="footer-links">
			        <a href="#">Home</a>
			        <a href="#">Blog</a>
			        <a href="#">Pricing</a>
			        <a href="#">About</a>
			        <a href="#">Faq</a>
			        <a href="#">Contact</a>
		        </p>
		        <ul class="inline-list social">
			        <a href="#"><i class="fi-social-facebook"></i></a>
			        <a href="#"><i class="fi-social-twitter"></i></a>
			        <a href="#"><i class="fi-social-linkedin"></i></a>
			        <a href="#"><i class="fi-social-github"></i></a>
		        </ul>
		        
		    </div>
	    </div>
	</footer>
	<div class="copywrite">Blend Craft © 2017</div>
</body>
<script src="{{baseUrl}}/assets/js/app.min.js"></script>
  
</html>
